











<div class="content mt-5" >
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!-- Container -->
        <div id="kt_content_container" class="container-xxl" >
            <meta name="_token" value="GnxI213sOLraQGVIq0mfqLMyWSBJUonIw7RJrNIH">
            <div class="row gy-5" >
                <!-- Left Column -->
                <div class="col-xl-4 ">
                    <!-- List Widget 3 -->
                    <div class="card card-xxl-stretch mb-xl-3 mt-4"   style="width: 400px; height: 270px;">
                        <!-- Header -->
                        <div class="card-header border-0 ">
                            <h3 class="card-title fw-bolder text-dark" >Today Birthday</h3>
                        </div>
                        <!-- Body -->
                        <div class="card-body pt-2" >
                            <div class="flex-grow-1">There are no records found</div>
                        </div>
                    </div>
                </div>
                <!-- Right Column -->
                <div class="col-xl-3 ">
                    <!-- List Widget 3 -->
                    <div class="card card-xxl-stretch mb-xl-4 mt-4" style="width: 200px; height: 400px;">
                        <!-- Header -->
                        <div class="card-header  border-0">
                            <h3 class="card-title fw-bolder text-dark">Qrcode</h3>
                        </div>
                        <!-- Body -->
                        <div class="card-body pt-2">
                            <div class="d-flex align-items-center mb-8 mt-2">
                                <span class="badge fs-8 fw-bolder">
                                    <img style="width:100px; height:100px;" src="https://chart.googleapis.com/chart?chs=400x400&amp;cht=qr&amp;chl=89b0c2d8d8a35d1e74a8edf68ddd5b4fd3d821e0d8653a937c0b159fc6d24e8e&amp;choe=UTF-8">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-5  mt-5">
                <!-- Left Column -->
                <div class="col-xl-4 ">
                    <!-- Tables Widget 9 -->
                    <div class="card card-xxl-stretch mb-5 mb-xl-8" style="width: 400px; height: 270px;" >
                        <!-- Header -->
                        <div class="card-header  border-0">
                            <h3 class="card-title fw-bolder text-dark">Employee Statistics</h3>
                        </div>
                        <div class="card-body py-3">
                            <!-- Table Container -->
                            <div class="table-responsive">
                                <!-- Table -->
                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                    <!-- Table Body -->
                                    <tbody>
                                        <tr>
                                            <th><b>IN</b></th>
                                            <th><b>OUT</b></th>
                                            <th><b>HOUR</b></th>
                                        </tr>
                                        <tr>
                                            <td>9:18 am</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Right Column -->
                <div class="col-xl-8  ">
                    <!-- List Widget 3 -->
                    <div class="card card-xxl-stretch mr-6 mb-xl-8" style="width: 800px; height: 270px;">
                        <!-- Header -->
                        <div class="card-header border-0">
                            <h3 class="card-title fw-bolder text-dark">Today Task</h3>
                            <h3 class="card-title fw-bolder text-dark">Date: 2024-03-15</h3>
                        </div>
                        <!-- Body -->
                        <div class="card-body pt-2">
                            <div class="table-responsive">
                                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                                    <thead>
                                        <tr class="fw-bolder text-muted">
                                            <th class="min-w-100px">Task Link</th>
                                            <th class="min-w-150px">Task Satar &amp; Paush</th>
                                            <th class="min-w-150px">Task Assign Date</th>
                                        </tr>
                                    </thead>
                                    <tbody class="fw-bold text-gray-600">
                                        <tr>
                                            <td colspan="10">There are no records found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"></div>
                            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                <div class="dataTables_paginate paging_simple_numbers" id="kt_customers_table_paginate">
                                    <ul class="pagination">
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>