{% extends 'account/base.html' %}

{% load static %}
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>EMS</title>-->
<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
<!--    &lt;!&ndash; FontAwesome CSS &ndash;&gt;-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">-->
<!--    &lt;!&ndash; Custom CSS &ndash;&gt;-->
<!--    <style>-->
<!--        .sidebar {-->
<!--          position: fixed;-->
<!--          top: 0;-->
<!--          left: 0;-->
<!--          width: 250px;-->
<!--          padding-top: 50px;-->
<!--          background-color: #343a40;-->
<!--          max-height: 100%;-->
<!--          overflow-y: auto; / Enable vertical scrolling /-->
<!--      }-->

<!--      .sidebar ul.navbar-nav li.nav-item {-->
<!--          padding: 8px 15px;-->
<!--      }-->

<!--      .sidebar ul.navbar-nav li.nav-item a.nav-link {-->
<!--          color: #fff;-->
<!--      }-->

<!--      .sidebar ul.navbar-nav li.nav-item a.nav-link:hover {-->
<!--          color: #007bff;-->
<!--      }-->

<!--      .content {-->
<!--          padding-left: 270px; / Sidebar width + additional padding /-->
<!--      }-->

<!--      @media (max-width: 768px) {-->
<!--          .sidebar {-->
<!--              width: 100%;-->
<!--              padding-top: 15px; / Adjust padding for smaller screens /-->
<!--              padding-bottom: 15px; / Add bottom padding to avoid content being hidden behind fixed footer /-->
<!--              max-height: none; / Remove maximum height /-->
<!--              overflow-y: visible; / Allow content to expand beyond viewport height /-->
<!--          }-->

<!--          .content {-->
<!--              padding-left: 0;-->
<!--          }-->
<!--      }-->

<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->
<!--    <div class="sidebar">-->
<!--        <div>-->
<!--&lt;!&ndash;            <img alt="Logo" src="https://i.ibb.co/mcLscF0/pranshtech-2.jpg" class="align-items-center" height="100px" width="250px">&ndash;&gt;-->
<!--            <img alt="Logo" src="https://i.ibb.co/mcLscF0/pranshtech-2.jpg" class="align-items-center" height="100px" width="250px" style="margin-top: -50px;">-->

<!--        </div>-->
<!--        <ul class="navbar-nav">-->

<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="{% url 'emplistdata' %}"><i class="fas fa-users"></i> Employee</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#"><i class="fas fa-user-clock"></i> Employee Leave</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#"><i class="fas fa-calendar-alt"></i> Calendar</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="{% url 'holidayView'%}"><i class="fas fa-calendar-day"></i> Holiday</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="{% url 'inout' %}"><i class="fas fa-sign-in-alt"></i> In-Out Request</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="{% url 'employeetask' %}"><i class="fas fa-tasks"></i> Employee Task</a>-->
<!--            </li>-->
<!--             <li class="nav-item">-->
<!--                <a class="nav-link" href="{% url 'issueticket'%}"><i class="fas fa-ticket-alt"></i> Isuue Ticket</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="{% url 'change_pass' %}"><i class="fas fa-lock"></i> Change Password</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" onclick="logoutForm()"><i class="fas fa-sign-out-alt"></i> Logout</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--    </div>-->





{% block main-content %}

    <div class="content mt-5" >
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!-- Container -->
        <div id="kt_content_container" class="container-xxl" >
            <meta name="_token" value="GnxI213sOLraQGVIq0mfqLMyWSBJUonIw7RJrNIH">
            <div class="row gy-5" >
                <!-- Left Column -->
                <div class="col-xl-4 " >
                    <!-- List Widget 3 -->
                    <div class="card card-xxl-stretch mb-xl-3 mt-4 " style="width: 100%; height: 400px;">
                        <!-- Header -->
                        <div class="card-header border-0 ">
                            <h3 class="card-title fw-bolder text-dark" >Today Birthday</h3>
                        </div>
                        <!-- Body -->
                        <div class="card-body pt-2" >
                            <div class="flex-grow-1">There are no records found</div>
                        </div>
                    </div>
                </div>
                <!-- Right Column -->
                <div class="col-xl-3 ">
                    <!-- List Widget 3 -->
                    <div class="card card-xxl-stretch mb-xl-4 mt-4" style="width: 100%; height: 400px; margin-top: 80px;" >
                        <!-- Header -->
                        <div class="card-header  border-0">
                            <h3 class="card-title fw-bolder text-dark">QR-Code</h3>
                        </div>
                        <!-- Body -->
                        <div class="card-body pt-2">
                            <div class="d-flex align-items-center mb-8 mt-2">
                                <span class="badge fs-8 fw-bolder">
<!--                                    <img style="width:100px; height:100px;" src="https://chart.googleapis.com/chart?chs=400x400&amp;cht=qr&amp;chl=89b0c2d8d8a35d1e74a8edf68ddd5b4fd3d821e0d8653a937c0b159fc6d24e8e&amp;choe=UTF-8">-->
                                         <!-- Add this div where you want to display the QR code -->
                                            <div id="qrcode-container">
                                                <img id="qr-code-image" src="http://127.0.0.1:8000/generate-qr/" alt="QR Code">
                                            </div>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-5  mt-5">
                <!-- Left Column -->
                <div class="col-xl-4 ">
                    <!-- Tables Widget 9 -->
                    <div class="card card-xxl-stretch mb-5 mb-xl-8" style="width: 100%; height: 270px; margin: 5px;" >
                        <!-- Header -->
                        <div class="card-header  border-0">
                            <h3 class="card-title fw-bolder text-dark">Employee Statistics</h3>
                        </div>
                        <div class="card-body py-3">
                            <!-- Table Container -->
                            <div class="table-responsive">
                                <!-- Table -->
                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                    <!-- Table Body -->
                                    <tbody>
                                        <tr>
                                            <th><b>IN</b></th>
                                            <th><b>OUT</b></th>
                                            <th><b>HOUR</b></th>
                                        </tr>
                                        <tr>
                                            <td>9:18 am</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Right Column -->
                <div class="col-xl-8  ">
                    <!-- List Widget 3 -->
                    <div class="card card-xxl-stretch mr-6 mb-xl-8" style="width: 100%; height: 270px; margin: 5px; margin-left: 80px;">
                        <!-- Header -->
                        <div class="card-header border-0">
                            <h3 class="card-title fw-bolder text-dark">Today Task</h3>
                            <h3 class="card-title fw-bolder text-dark">Date: 2024-03-15</h3>
                        </div>
                        <!-- Body -->
                        <div class="card-body pt-2">
                            <div class="table-responsive">
                                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                                    <thead>
                                        <tr class="fw-bolder text-muted">
                                            <th class="min-w-100px">Task Link</th>
                                            <th class="min-w-150px">Task Satar &amp; Paush</th>
                                            <th class="min-w-150px">Task Assign Date</th>
                                        </tr>
                                    </thead>
                                    <tbody class="fw-bold text-gray-600">
                                        <tr>
                                            <td colspan="10">There are no records found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"></div>
                            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                <div class="dataTables_paginate paging_simple_numbers" id="kt_customers_table_paginate">
                                    <ul class="pagination">
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    <!-- Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script>
        function logoutForm() {
          const logoutURL = 'http://127.0.0.1:8000/logout/';

          var storedRefreshToken = localStorage.getItem('refreshToken');
          var storedAccessToken = localStorage.getItem('accessToken');

          const logoutPayload = {
              refresh: storedRefreshToken
          };

          fetch(logoutURL, {
              method: 'POST',
              headers: {
                  'Authorization': 'Bearer '+ storedAccessToken,
                  'Content-Type': 'application/json',
                  'Accept': 'application/json',
              },
              body: JSON.stringify(logoutPayload),
          })
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Logout failed');
                  }
                  // Handle successful logout
                  else{
                      console.log("Logout Successful!");
                      window.location.href = '/home';
                  }
              })
              .catch(error => {
                  console.error('Error during logout:', error);
              });

      }
    </script>



    <script>
       <!-- JavaScript to set the src attribute of the QR code image -->

    document.addEventListener('DOMContentLoaded', function() {
        // Data to be encoded in the QR code (replace with your data)
        var qrCodeData = "http://127.0.0.1:8000/generate-qr/";

        // Set the src attribute of the QR code image
        document.getElementById('qr-code-image').src = qrCodeData;
    });
    </script>

{% endblock main-content %}

</body>

</html>
