{% extends 'account/base.html' %}
{% block main-content %}
{% load static %}
<style>

        .button-container {
            text-align: left;
            width:1100px;
            


        }
        .staff-item {
            border: 1px solid #ccc;
            margin: 5px;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
        }

        .staff-item button {
            margin-left: 10px;
            padding: 8px;
            cursor: pointer;
        }

        .button {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 3px 1.5px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #0056b3; / Change color on hover if desired /
        }

        .edit-button {
            background-color: transparent; / Choose your desired background color /
            border: none;
            padding: 0;
            cursor: pointer;
        }

        .edit-button img {
            width: 20px; / Adjust the width of the icon as needed /
            height: 20px; / Adjust the height of the icon as needed /
        }

        .edit-button:hover {
            background-color: transparent; / Change color on hover if desired /
        }

        .make-inactive-button {
            background-color: transparent; / Choose your desired background color /
            border: none;
            padding: 0;
            cursor: pointer;
        }

        .make-inactive-button img {
            width: 20px; / Adjust the width of the icon as needed /
            height: 20px; / Adjust the height of the icon as needed /
        }

        .make-inactive-button:hover {
            background-color: transparent; / Change color on hover if desired /
        }

        .button2 {
            background-color: #008000;

        }

        / Style for the dialog /
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);

        }

        .modal-content {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            border-radius:25px;
            overflow-y: auto;

        }

        #updateForm {
            display: flex;
            flex-direction: column;
            max-width: 400px;
            margin: auto;


        }

        #updateForm div {
            margin-bottom: 15px;

        }

        #updateForm label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        #updateForm input {
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
        }

        #updateForm button {
            background-color: #008CBA;
            color: white;
            border: none;
            padding: 12px;
            cursor: pointer;
        }
        #createUserForm div {
            margin-bottom: 15px;
        }

        #createUserForm label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        #createUserForm input {
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ccc; / Add a border to input fields /
            border-radius: 5px; / Add rounded corners to input fields /
            margin-top: 5px; / Add some space between input fields /
        }

        #createUserForm button {
            background-color: #008CBA;
            color: white;
            border: none;
            padding: 12px;
            cursor: pointer;
            border-radius: 5px; / Add rounded corners to buttons /
        }

        / Close button style /
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        select {
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 5px;
        }

        / Style for labels of dropdowns /
        label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .staff-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .staff-table th, .staff-table td {
            border: 1px solid #ddd;
            padding-left: 3px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 3px;
            text-align: left;
        }

        .staff-table th {
            background-color: #f2f2f2;
        }

        .staff-item-actions button {
            margin-right: 5px;
        }



</style>
<br>
<div class="flex-container" >
    <div class="button-container" style="overflow: auto;">
        <h2 style="margin-top:60px">Active Employee List</h2>

    </div>
    <div style="clear:both;"></div> <!-- Clear floating elements -->
    <div>
        <button class="button button2"  class= "button" class="button:hover" onclick="openCreateUserDialog()"  style="display: block;margin-left:940px;height:50px;margin-top:-40px;text-decoration:none;">Add Employee</button>
    </div>
    <table class="staff-table" style="margin-top:10px;">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Profile Picture</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Company</th>
                <th>Designation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="data-container"></tbody>
    </table>

    <div id="updateModal" class="modal">
        <div class="modal-content" id="updateForm"></div>
    </div>

    <div id="createUserModal" class="modal">
        <div class="modal-content" id="createUserForm"></div>
    </div>

    <script>

    var baseURL = "http://127.0.0.1:8000";
    var mediaURL = "http://127.0.0.1:8000/";
    var storedAccessToken = localStorage.getItem('accessToken');
    var userList = [];

    document.addEventListener('DOMContentLoaded', function(){
        fetchData();

        const addUserButton = document.querySelector('.button2');
        addUserButton.addEventListener('click', openCreateUserDialog);
    });

    function showTokenExpiredAlert() {
        alert('Your Token is expired please login again');
        redirectToLogin();
    }

    function redirectToLogin() {
        // Replace 'your-login-url' with the actual login URL
        window.location.href = '/home';
    }

    function fetchData() {
        const apiUrl = baseURL + '/emp-list/';

        fetch(apiUrl, {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer '+ storedAccessToken,
                //'Content-Type': 'application/json',
                //'Accept': 'application/json',
            },
            mode: 'cors',
        })
            .then(response => {
                if (!response.ok) {
                    if(response.status == 401){
                        showTokenExpiredAlert();
                    }
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Received data:', data);
                displayData(data);
            })
            .catch(error => console.error('Error fetching data:', error));
    }

    function displayData(data) {
            const dataContainer = document.getElementById('data-container');

            dataContainer.innerHTML = '';

            data.forEach(item => {

                    const staffRow = document.createElement('tr');

                    const idCell = document.createElement('td');
                    idCell.textContent = `${item.emp_id}`;
                    staffRow.appendChild(idCell);

                    //const imageUrl = item.profile_picture.replace(mediaURL, baseURL+'/');
                    const profilePictureCell = document.createElement('td');
                    const profilePicture = document.createElement('img');
                    profilePicture.src = item.emp_profile;
                    if(profilePicture.src == null || profilePicture.src == "http://127.0.0.1:8000/emp-list-data/null"){
                        profilePicture.src = baseURL + '/media/profile_image/empty_profile.jpg';
                    }
                    profilePicture.alt = 'Profile Picture';
                    profilePicture.style.width = '100px';
                    profilePicture.style.height = '100px';
                    profilePicture.style.borderRadius = '';
                    profilePictureCell.appendChild(profilePicture);
                    staffRow.appendChild(profilePictureCell);

                    const nameCell = document.createElement('td');
                    nameCell.textContent = `${item.emp_name}`;
                    staffRow.appendChild(nameCell);

                    const emailCell = document.createElement('td');
                    emailCell.textContent = item.emp_email;
                    staffRow.appendChild(emailCell);

                    const contactCell = document.createElement('td');
                    contactCell.textContent = item.emp_contact;
                    staffRow.appendChild(contactCell);

                    const companyCell = document.createElement('td');
                    companyCell.textContent = item.emp_company;
                    staffRow.appendChild(companyCell);

                    const designationCell = document.createElement('td');
                    designationCell.textContent = item.emp_designation;
                    staffRow.appendChild(designationCell);


                    const actionsCell = document.createElement('td');

                    //const editButton = document.createElement('button');
                    //editButton.textContent = 'Edit';
                    //editButton.className = 'edit-button';
                    //editButton.addEventListener('click', () => openUpdateDialog(item));
                    //actionsCell.appendChild(editButton);

                    const editButton = document.createElement('button');
                    editButton.className = 'edit-button';
                    const iconElement = document.createElement('img');
                    iconElement.src = '/media/profile_image/icon_pencil.png'; // Replace with the actual path or URL to your icon
                    iconElement.alt = 'Edit Icon';
                    editButton.appendChild(iconElement);
                    editButton.addEventListener('click', () => openUpdateDialog(item));
                    actionsCell.appendChild(editButton);

                    const spaceBetweenButtons = document.createElement('span');
                    spaceBetweenButtons.style.marginRight = '10px'; // Adjust the value as needed
                    actionsCell.appendChild(spaceBetweenButtons);


                    const makeInactiveButton = document.createElement('button');
                    makeInactiveButton.className = 'make-inactive-button';
                    const iconDeleteElement = document.createElement('img');
                    iconDeleteElement.src = '/media/profile_image/icon_delete.png'; // Replace with the actual path or URL to your icon
                    iconDeleteElement.alt = 'Delete Icon';
                    makeInactiveButton.appendChild(iconDeleteElement);
                    makeInactiveButton.addEventListener('click', () => onDeleteButtonClick(item.id));
                    actionsCell.appendChild(makeInactiveButton);


                    //const makeInactiveButton = document.createElement('button');
                    //makeInactiveButton.textContent = 'Make Inactive';
                    //makeInactiveButton.className = 'make-inactive-button';
                    //makeInactiveButton.addEventListener('click', () => onMakeInactive(item.id));
                    //actionsCell.appendChild(makeInactiveButton);

                    staffRow.appendChild(actionsCell);

                    dataContainer.appendChild(staffRow);

            });
        }


    async function fetchUserList() {
        const userListUrl = baseURL + '/admin-user'; // Replace with your actual endpoint
        const response = await fetch(userListUrl, {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + storedAccessToken,
                'Content-Type': 'application/json',
            },
            mode: 'cors',
        });
        const userData = await response.json();

        return userData;
    }

    async function populateUserDropdown() {
        try {
            const userData = await fetchUserList();

            const userDropdown = document.getElementById('userDropdown');
            userDropdown.innerHTML = ''; // Clear existing options

            userData.forEach(user => {
                const optionElement = document.createElement('option');
                optionElement.value = user.id;
                optionElement.text = user.email; // Adjust based on your user data
                userDropdown.add(optionElement);
            });
        } catch (error) {
            console.error('Error fetching user list:', error);
            alert('Error fetching user list. Please try again.');
        }
    }

    function openCreateUserDialog() {
        const userListUrl = baseURL + '/get-store-list/';

        fetch(userListUrl, {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + storedAccessToken,
                'Content-Type': 'application/json',
            },
            mode: 'cors',
        })
        .then(response => {
            if (!response.ok) {
                if(response.status == 401){
                    showTokenExpiredAlert();
                }
                console.log(`HTTP error! Status: ${response.status}`);
                throw new Error("Failed to fetch user list");
            }
            return response.json();
        })
        .then((users) => {
            users.forEach(user => {
                userList.push({ id: user.id, email: user.email });
            });
            const createUserModal = document.getElementById('createUserModal');
            const createUserForm = document.getElementById('createUserForm');

            createUserForm.innerHTML = '';

            const userListDropdown = createDropdownElement('newUserList', 'User Type', userList.map(user => user.email));
            const firstNameInput = createInputElement('text', 'newFirstName', 'First Name', '');
            const middleNameInput = createInputElement('text', 'newMiddleName', 'Middle Name', '');
            const lastNameInput = createInputElement('text', 'newLastName', 'Last Name', '');
            const emailInput = createInputElement('text', 'newEmail', 'Email', '');
            //const contactInput = createInputElement('text', 'newContact', 'Contact', '');
            const contactInput = createNumericInputElement('newContact', 'Contact', '');
            //const genderInput = createInputElement('text', 'newGender', 'Gender', '');
            //const activeInput = createInputElement('text', 'newActive', 'Active', '');
            const genderInput = createDropdownElement('newGender', 'Gender', ['Male', 'Female']);
            const activeInput = createDropdownElement('newActive', 'Active', ['Yes', 'No']);
            const vehicleInput = createInputElement('text', 'newVehicle', 'Vehicle', '');


            const passwordInput = createInputElement('password', 'newPassword', 'Password', '');

            const profilePictureInput = document.createElement('input');
            profilePictureInput.type = 'file';
            profilePictureInput.id = 'newProfilePicture';
            profilePictureInput.accept = 'image/*';

            const createUserButton = document.createElement('button');
            createUserButton.textContent = 'Create User';
            createUserButton.addEventListener('click', onCreateUserButtonClick);

            const backButton = document.createElement('button');
            backButton.textContent = 'Back';
            backButton.addEventListener('click', onBackButtonClick);

            createUserForm.appendChild(userListDropdown);
            createUserForm.appendChild(firstNameInput);
            createUserForm.appendChild(middleNameInput);
            createUserForm.appendChild(lastNameInput);
            createUserForm.appendChild(emailInput);
            createUserForm.appendChild(contactInput);
            createUserForm.appendChild(genderInput);
            createUserForm.appendChild(activeInput);
            createUserForm.appendChild(vehicleInput);
            createUserForm.appendChild(passwordInput);
            createUserForm.appendChild(profilePictureInput)


            createUserForm.appendChild(createUserButton);
            createUserForm.appendChild(document.createTextNode("\u00A0"));
            createUserForm.appendChild(backButton);

            createUserModal.style.display = 'block';
             })
            .catch(error => {
                console.error('Error fetching user list:', error);
            });
        }


    function onBackButtonClick() {
        const createUserModal = document.getElementById('createUserModal');
        createUserModal.style.display = 'none';
    }

    function onCreateUserButtonClick() {
        const selectedUserEmail  = document.getElementById('newUserList').value;
        const selectedUser = userList.find(user => user.email === selectedUserEmail);

        const selectedUserId = selectedUser ? selectedUser.id : null;
        console.log("================>",selectedUserId);
        if (!selectedUserId) {
            alert('Invalid user selected.');
            return;
        }

        const firstName = document.getElementById('newFirstName').value;
        const middleName = document.getElementById('newMiddleName').value;
        const lastName = document.getElementById('newLastName').value;
        const email = document.getElementById('newEmail').value;
        const contact = document.getElementById('newContact').value;
        const gender = document.getElementById('newGender').value;
        const active = document.getElementById('newActive').value;
        const vehicle = document.getElementById('newVehicle').value;
        const password = document.getElementById('newPassword').value;

        const profilePictureInput = document.getElementById('newProfilePicture');
        const profilePicture = profilePictureInput.files[0];
        console.log(profilePicture)


        if (!firstName) {
            alert('Please fill in First Name.');
            return;
        }
        if (!lastName) {
            alert('Please fill in Last Name.');
            return;
        }
        if (!email) {
            alert('Please fill in Email.');
            return;
        } else if (!isValidEmail(email)) {
            alert('Please enter a valid email address.');
            return;
        }

        if (isNaN(contact) || contact.length !== 10) {
            alert('Please enter a valid 10-digit contact number.');
            return;
        }
        if (!gender) {
            alert('Please Select the Gender.');
            return;
        }
        if (!active) {
            alert('Please Select the Active Status.');
            return;
        }
        if (!vehicle) {
            alert('Please Fill the Vehicle Number.');
            return;
        }
        if (!password) {
            alert('Please Fill the Password Field.');
            return;
        }

        function isValidEmail(email) {
            // Regular expression for a simple email validation
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        const newUser = {
            user: 1,
            store: selectedUserId,
            first_name: firstName,
            middle_name: middleName,
            last_name: lastName,
            email: email,
            contact: contact,
            gender: gender,
            is_active: active,
            vehicle_number: vehicle,
            password: password,
        };

        const formData = new FormData();
        for (const key in newUser) {
                formData.append(key, newUser[key]);
        }
        formData.append('profile_picture', profilePicture);

        const createUserUrl = baseURL + '/restaurant-staff/';

        fetch(createUserUrl, {
            method: 'POST',
            headers: {
                'Authorization': 'Bearer ' + storedAccessToken,
                //'Content-Type': 'application/json',
            },
            //body: JSON.stringify(newUser),
            body: formData,
            mode: 'cors',
        })
        .then(response => {
            console.log(response)
            if (!response.ok) {
                if(response.status == 401){
                    showTokenExpiredAlert();
                }
                //throw new Error('Network response was not ok');
                return response.json().then(errorData => {
                    console.log("ErrorData", errorData);
                    console.log("ErrorData", errorData.vehicle_number);
                    throw new Error(errorData.vehicle_number || errorData.email  || "Some user details are Invalid");
                });
            }
            return response.json();
        })
        .then(data => {
            console.log('User created successfully:', data);
            const createUserModal = document.getElementById('createUserModal');
            createUserModal.style.display = 'none';
            fetchData(); // Fetch updated data after creation
        })
        //.catch(error => console.error('Error creating user:', error));
        .catch(error => {
            console.error('Error:', error);
            // Display an alert for incorrect credentials
            // alert('Invalid credentials. Please try again.');
            alert(error.message);
        });
    }


    function openUpdateDialog(data) {
            const updateModal = document.getElementById('updateModal');
            const updateForm = document.getElementById('updateForm');

            updateForm.innerHTML = '';

            const userListUrl = baseURL + '/emp-list/';

            fetch(userListUrl, {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + storedAccessToken,
                    'Content-Type': 'application/json',
                },
                mode: 'cors',
            })
            .then(response => {
                if (!response.ok) {
                    if(response.status == 401){
                        showTokenExpiredAlert();
                    }
                    console.log(`HTTP error! Status: ${response.status}`);
                    throw new Error("Failed to fetch user list");
                }
                return response.json();
            })
            .then(users => {
                userList = users;
                const idInput = createInputElement('text', 'id', 'Id', `${data.emp_id}`);
                const nameInput = createInputElement('text', 'name', 'Name', `${data.emp_name}`);
                const emailInput = createInputElement('text', 'email', 'Email', data.emp_email);


                const profilePictureInput = document.createElement('input');
                profilePictureInput.type = 'file';
                profilePictureInput.id = 'newProfilePicture';
                profilePictureInput.accept = 'image/*';

                const addressInput = createInputElement('text', 'address', 'Address', data.emp_address);
                const contactInput = createNumericInputElement('contact', 'Contact', data.emp_contact);
		        const userDesignationDropdown = createDropdownElement('userDesignations', 'userDesignation', userList.map(user => user.emp_designation));

                const roleInput = createDropdownElement('role', 'Role', ['Admin', 'HR', 'Employee']);
                roleInput .querySelector('select').value = data.emp_role || '';

                const companyInput = createDropdownElement('company', 'Company', ['PranshTech Solutions', 'Textdrip']);
                companyInput.querySelector('select').value = data.emp_company || '';

                const updateButton = document.createElement('button');
                updateButton.textContent = 'Update';
                updateButton.addEventListener('click', () => onUpdateButtonClick(data.id));

                updateForm.appendChild(idInput)
                updateForm.appendChild(nameInput);
                updateForm.appendChild(emailInput);
                updateForm.appendChild(profilePictureInput);
                updateForm.appendChild(addressInput);
                updateForm.appendChild(contactInput);
                updateForm.appendChild(userDesignationDropdown);
                updateForm.appendChild(roleInput);
                updateForm.appendChild(companyInput);

                updateModal.style.display = 'block';
            })
    .catch(error => {
        console.error('Error fetching user list:', error);
    });
}


    function createNumericInputElement(id, label, value, errorDiv) {
        const input = document.createElement('input');
        input.type = 'text';
        input.id = id;
        input.value = value || '';

        input.addEventListener('input', function (event) {
            let inputValue = event.target.value;
            inputValue = inputValue.replace(/[^0-9]/g, '');
            inputValue = inputValue.substring(0, 10);

            event.target.value = inputValue;
            console.log(inputValue.length)
            if (!/^\d+$/.test(inputValue)) {
                alert("Only numeric characters are allowed.")
            } else if (inputValue.length !== 10) {
                errorDiv.textContent = 'Contact must be exactly 10 characters.';
                errorDiv.style.color = 'red';
            } else {
                errorDiv.textContent = ''; // Clear the error message
            }
        });

        const labelElement = document.createElement('label');
        labelElement.for = id;
        labelElement.textContent = label;

        const div = document.createElement('div');
        div.appendChild(labelElement);
        div.appendChild(input);

        return div;
    }



    function createInputElement(type, id, label, value) {
        const input = document.createElement('input');
        input.type = type;
        input.id = id;
        input.value = value || '';

        const labelElement = document.createElement('label');
        labelElement.for = id;
        labelElement.textContent = label;

        const div = document.createElement('div');
        div.appendChild(labelElement);
        div.appendChild(input);

        return div;
    }

    function createDropdownElement(id, label, options) {
        const select = document.createElement('select');
        select.id = id;

        for (const optionText of options) {
            const option = document.createElement('option');
            option.value = optionText
            option.textContent = optionText;
            console.log(option)
            select.appendChild(option);
        }

        const labelElement = document.createElement('label');
        labelElement.textContent = label;
        labelElement.appendChild(select);

        return labelElement;
    }


    function onUpdateButtonClick(userId) {
        const selectedUserDesignation  = document.getElementById('userDesignations').value;
        const selectedUser = userList.find(user => user.email === selectedUserDesignation);

        if (!selectedUser) {
            console.error('Invalid user selected or user not found:', selectedUserDesignation);
            alert('Invalid user selected.');
            return;
        }

        const selectedUserId = selectedUser.id;
        const emp_id = document.getElementById('id').value;
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const contact = document.getElementById('contact').value;
        const role = document.getElementById('role').value;
        const company = document.getElementById('company').value;
        const profilePictureInput = document.getElementById('newProfilePicture');
        const profilePicture = profilePictureInput.files[0];
        console.log(profilePicture)

        if (!name) {
            alert('Please fill in First Name.');
            return;
        }
        if (!email) {
            alert('Please fill in Email.');
            return;
        }else if (!isValidEmail(email)) {
            alert('Please enter a valid email address.');
            return;
        }

        if (isNaN(contact) || contact.length !== 10) {
            alert('Please enter a valid 10-digit contact number.');
            return;
        }
        if (!role) {
            alert('Please Select the Role.');
            return;
        }
        if (!company) {
            alert('Please Select the Company.');
            return;
        }


        function isValidEmail(email) {
            // Regular expression for a simple email validation
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        const updatedData = {
            store: selectedUserId,
            emp_name: name,
            emp_email: email,
            emp_contact: contact,
            emp_role: role,
            emp_company: company
        };

        const updateUrl = baseURL + `/emp-list/${userId}/`;

        const formData = new FormData();
        for (const key in updatedData) {
            formData.append(key, updatedData[key]);
        }
        formData.append('profile_picture', profilePicture);

        fetch(updateUrl, {
            method: 'PATCH',
            headers: {
                'Authorization': 'Bearer ' + storedAccessToken,
                //'Content-Type': 'application/json',
            },
            //body: JSON.stringify(updatedData),
            body: formData,
            mode: 'cors',
        })
        .then(response => {
            if (!response.ok) {
                if(response.status == 401){
                    showTokenExpiredAlert();
                }
                //throw new Error('Network response was not ok');
                return response.json().then(errorData => {
                    console.log("ErrorData", errorData);
                    console.log("ErrorData", errorData.vehicle_number);
                    throw new Error(errorData.vehicle_number || errorData.email  || "Some user details are Invalid");
                });
            }
            return response.json();
        })
        .then(data => {
            console.log('User updated successfully:', data);
            const updateModal = document.getElementById('updateModal');
            updateModal.style.display = 'none';
            fetchData(); // Fetch updated data after modification
        })
        //.catch(error => console.error('Error updating user:', error));
        .catch(error => {
            console.error('Error:', error);
            alert(error.message);
        });
    }

    window.onclick = function(event) {
        const updateModal = document.getElementById('updateModal');
        if (event.target == updateModal) {
            updateModal.style.display = 'none';
        }
    }

    function onDeleteButtonClick(userId) {
    const deleteUrl = baseURL + `/emp-list/${userId}/`;

    // Create a new XMLHttpRequest object
    var xhr = new XMLHttpRequest();

    // Configure the request
    xhr.open('DELETE', deleteUrl, true);
    xhr.setRequestHeader('Authorization', 'Bearer ' + storedAccessToken);

    // Set up a function to handle the response
    xhr.onload = function() {
        if (xhr.status >= 200 && xhr.status < 300) {
            // Request was successful
            console.log('User deleted successfully:', xhr.responseText);

            // If you want to remove the deleted element from the DOM without refreshing
            const elementToDelete = document.getElementById('element_' + userId);
            if (elementToDelete) {
                elementToDelete.remove();
            }

            // If you want to fetch updated data after deletion and update the UI
            fetchData(); // Fetch updated data after deletion
        } else {
            // Request failed
            console.error('Error deleting user:', xhr.statusText);
            if (xhr.status == 401) {
                showTokenExpiredAlert();
            }
        }
    };

    // Set up a function to handle errors
    xhr.onerror = function() {
        console.error('Error deleting user:', xhr.statusText);
    };

    // Send the request
    xhr.send();
}

    function onMakeInactive(userId) {

    const updateUrl = baseURL + `/restaurant-staff/${userId}/`;

    const updatedData = {
        is_active: "No"
    };

    fetch(updateUrl, {
        method: 'PATCH',
        headers: {
            'Authorization': 'Bearer ' + storedAccessToken,
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(updatedData),
        mode: 'cors',
    })
    .then(response => {
        if (!response.ok) {
            if(response.status == 401){
                    showTokenExpiredAlert();
                }
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log('User made active successfully:', data);
        fetchData(); // Fetch updated data after modification
    })
    .catch(error => console.error('Error making user active:', error));
}
 </script>
    <script src="{% static 'account/js/dashboard.js' %}"></script>
</div>
{% endblock %}

