
            /* Common button styling */
            .button {
                display: inline-block;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                background: -webkit-linear-gradient(45deg, #ff004c, #ff2470, #ff9a47, #ec6455);
                box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
                color: #fff;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s ease;
                height:40px;

            }

            .button:hover {
                background-color: #0056b3;

            }

            /* Common text styling */
            .text {
                font-size: 16px;
                color: #333;
                line-height: 1.5;

            }

            /* Common styles for all screen sizes */
            .container-fluid {
                    padding: 20px;
            }

            /* Styles for screens smaller than 576px (e.g., mobile phones) */
            @media (max-width: 575.98px) {
                    .sidebar {
                        display: none; /* Hide the sidebar on small screens */
                    }
            }

            /* Styles for screens between 576px and 991.98px (e.g., tablets) */
            @media (min-width: 576px) and (max-width: 991.98px) {
                    .container-fluid {
                        padding: 10px; /* Reduce padding on tablets */
                    }
            }

            /* Styles for screens larger than 992px (e.g., laptops and desktops) */
            @media (min-width: 992px) {
                    .sidebar {
                        display: block; /* Show the sidebar on larger screens */
                    }
            }

            /* Default styles */
            .col {
                width: 100%;
            }

            /* Media query for screens larger than 768px (e.g., tablets and desktops) */
            @media (min-width: 768px) {
                .col {
                    width: 50%; /* Adjust the width as needed */
                }
            }

            /* Media query for screens larger than 992px (e.g., larger desktops) */
            @media (min-width: 992px) {
                .col {
                    width: 33.33%; /* Adjust the width as needed */
                }
            }

            /* Media query for screens larger than 1200px (e.g., extra-large desktops) */
            @media (min-width: 1200px) {
                .col {
                    width: 25%; /* Adjust the width as needed */
                }
            }

            .text{
                font-size:10px;
            }



